html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

#root{
  width: 100vw;
  height: 100vh;
  background-color: #2AFEB7;
  background-image: linear-gradient(0deg, #ffffff 0%, #aaaaaa 100%);
}

/* globals.css */
.r3f-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.r3f-scroll {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
